{% extends 'todo/layout.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Мои задачи</h1>
        {% for task in data %}
        <p>
            {% if task.is_done %}
                <img class="checkbox" src="{% static 'todo/img/checked.png' %}" alt="checked">
            {% else %}
            <a href="{% url 'make_done' task_id=task.id %}"><img class="checkbox" src="{% static 'todo/img/empty.png' %}" alt="empty"></a>
            {% endif %}
            {{ task.number }}. {{ task.text }}
        </p>
        {% endfor %}
    </div>


{% endblock %}